/* Consultas.css */
.consultas-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.results-section {
  margin-top: 40px;
}

.results-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.result-item {
  display: flex;
  justify-content: center;
}

.result-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
}

.result-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
.result-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #003300;
}

.result-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #333333;
}
  
 
  .search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-section input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border: 2px solid #003300;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-section .search-button {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #003300;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .search-section .search-button:hover {
    background-color: #e6b800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .results-section {
    margin-top: 40px;
  }
  
  .results-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .results-section li {
    background-color: #a3f15e;
    margin: 10px 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  