.consultas-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #ffcc00;
}

.results-section {
  margin-top: 40px;
}

.results-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.result-item {
  display: flex;
  justify-content: center;
}

.result-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
}

.result-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.result-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #003300;
}

.result-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #333333;
}

.pdf-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #003300;
    color: #ffffff;
    display: flex;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;

}

.pdf-link:hover {
  background-color: #004d00;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-section input {
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid #003300;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filters select,
.filters input {
  padding: 10px;
  border: 2px solid #003300;
  border-radius: 10px;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search-button,
.clear-button {
  background-color: #ffcc00;
  color: #003300;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-button:hover,
.clear-button:hover {
  background-color: #e6b800;
  transform: scale(1.05);
}

.search-section input,
.filters select,
.filters input {
  padding: 10px;
  border: 2px solid #003300;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
