footer {
    background-color: #003300;
    color: #ffcc00;
    text-align: center;
    padding: 30px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-radius: 2px;
    position: relative;
}

