.hero {
    color: white;
    text-align: center;
    padding-inline: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    z-index: 1;
    animation: fadeInDown 1s ease-in-out;
}

.hero .explore-button {
    background-color: #ffcc00;
    color: #003300;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero .explore-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


