.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #003300;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(31, 151, 31, 0.1);
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003300;
  }
  
  .login-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #003300;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #003300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: rgba(0, 51, 0, 0.8);
  }
  